{% extends 'base.html' %}
{% block title %} Garage {% endblock %}

{% block content %}
    {% if user.is_viewer %}
        <div class="col-md-12">
            <div class="table-responsive">
                <h4>Garage</h4>
                {% if user.is_editor or request.user.is_superuser %}
                    <a style="display: inline" href="/addnew" class="btn btn-primary">Add vehicle</a>
                    <form style="padding-bottom: 10px; padding-top: 10px" method="post" action="importvehicles/"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <h4>Import from Excel file</h4>
                        <input style="padding-bottom: 3px" type="file" name="vehicle_file" accept=".xlsx">
                        <button style="padding-top: 3px" type="submit">Upload to vehicles</button>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert-danger">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    </form>
                {% endif %}
                <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
                    <thead>
                    <th>ID</th>
                    <th>Vehicle num</th>
                    <th>Manufacture</th>
                    <th>Model</th>
                    <th>Left side</th>
                    <th>Right side</th>
                    <th>Face side</th>
                    <th>Back side</th>
                    <th>Date of prod.</th>
                    <th>Notes</th>
                    {% if user.is_editor or request.user.is_superuser %}
                        <th>Edit</th>
                        <th>Delete</th>
                    {% endif %}
                    <th>Glasses</th>
                    </thead>
                    <tbody>
                    {% for car in cars %}
                        <tr>
                            <td>{{ car.id }}</td>
                            <td>{{ car.v_number }}</td>
                            <td>{{ car.v_manufacture }}</td>
                            <td>{{ car.v_model }}</td>
                            {% if car.v_left_side == 0 %}
                                <td><span style="font-size: 20px; color: red"
                                          class="glyphicon glyphicon-remove-circle"></span>
                                </td>
                            {% else %}
                                <td><span style="font-size: 20px; color: green"
                                          class="glyphicon glyphicon-ok-circle"></span></td>
                            {% endif %}
                            {% if car.v_right_side == 0 %}
                                <td><span style="font-size: 20px; color: red"
                                          class="glyphicon glyphicon-remove-circle"></span>
                                </td>
                            {% else %}
                                <td style="align-items: center"><span style="font-size: 20px; color: green"
                                                                      class="glyphicon glyphicon-ok-circle"></span></td>
                            {% endif %}
                            {% if car.v_face_side == 0 %}
                                <td style="align-content: center"><span style="font-size: 20px; color: red"
                                                                        class="glyphicon glyphicon-remove-circle"></span>
                                </td>
                            {% else %}
                                <td style="align-content: center"><span style="font-size: 20px; color: green"
                                                                        class="glyphicon glyphicon-ok-circle"></span>
                                </td>
                            {% endif %}
                            {% if car.v_back_side == 0 %}
                                <td style="align-content: center"><span style="font-size: 20px; color: red"
                                                                        class="glyphicon glyphicon-remove-circle"></span>
                                </td>
                            {% else %}
                                <td style="align-content: center"><span style="font-size: 20px; color: green"
                                                                        class="glyphicon glyphicon-ok-circle"></span>
                                </td>
                            {% endif %}

                            <td data-type="date">{{ car.v_date_of_prod }}</td>
                            <td>{{ car.v_note }}</td>
                            {% if user.is_editor or request.user.is_superuser %}
                                <td><p data-placement="top" data-toggle="tooltip" title="Edit"><a
                                        href="/edit/{{ car.id }}"
                                        class="btn btn-primary btn-xs"
                                        data-title="Edit"
                                        data-toggle="modal"
                                        data-target="#edit"><span
                                        class="glyphicon glyphicon-pencil"></span></a></p></td>
                                <td><p data-placement="top" data-toggle="tooltip" title="Delete"><a
                                        href="/destroy/{{ car.id }}"
                                        class="btn btn-danger btn-xs"
                                        data-title="Delete"
                                        data-toggle="modal"
                                        data-target="#delete"><span
                                        class="glyphicon glyphicon-trash"></span></a></p></td>
                            {% endif %}
                            <td><p data-placement="top" data-toggle="tooltip" title="Open"><a
                                    href="/glasses/{{ car.id }}"
                                    class="btn btn-info btn-xs"
                                    data-title="Open"
                                    data-toggle="modal"
                                    data-target="#open"><span
                                    class="glyphicon glyphicon-share-alt"></span></a></p></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="col-md-12">
            <h1>Register or Log in</h1>
        </div>
    {% endif %}
{% endblock content %}
